<html>
    <head>
        <title>Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body style = "background-color:lavender;">

     <div class="topnav">
        <a>Homepage</a>
     </div>

        {% if numfound == 0 %}
        <h3>Your search for "{{ search_name }}" returned 0 results!</h3>
        {% else %}
        <h3>Refresh the page to search for another book!</h3>
        <form action="{{ url_for('booksearch') }}" method="GET">
            <button class="btn">Refresh</button>
        </form>

        <h3>Your search for "{{ search_name }}" returned {{numfound}} results!</h3>

        <table style="width:100%;">
         <tr>
            <td>ISBN Number</td>
            <td>Title</td>
            <td>Author</td>
            <td>Year</td>
         </tr>
         {% for row in range(numfound) %}
          <tr>
            <td>
                <form method="GET">
                    <button class="btn-isbn" name="isbn" value="{{booksfound[row][0]}}" >{{booksfound[row][0]}}</button>
                </form>
            </td>
            <td>{{booksfound[row][1]}}</td>
            <td>{{booksfound[row][2]}}</td>
            <td>{{booksfound[row][3]}}</td>
         </tr>
         {% endfor %}
        </table>
        {% endif %}
    </body>
</html>
